:root {
  --font-fam-bebas: "Bebas Neue", sans-serif;
  --font-fam-anton: "Anton", sans-serif;
  --font-fam-oswald: "Oswald", serif;
}

body {
  background-image: url(../../public/videos/hero-video.mp4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
}
.title {
  font-size: clamp(50px, 8vw, 300px);
  font-family: var(--font-fam-bebas);
  color: #ffff;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: transparent;
  animation: text-color 0.3s 0.69s linear forwards;
}

.title:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #17157f;
  transform: translateX(0);

  animation: text 1.5s linear forwards;
}
.title:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #8b0000;
  transform: translateX(0);

  animation: text 1.5s linear forwards;
}

.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 30px;
}

.container-video {
  height: 100vh;
  width: 100%;
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container-video video {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  animation: video-appear 0.3s 1.5s linear forwards;
}

/* MEDIA */
@media screen and (max-width: 768px) {
  .container-video {
    width: 100%;
  }

  .container-video {
    width: 50%;
  }

  .hero {
    flex-direction: column;
    gap: 5px;
    padding: 0;
    position: relative;
  }

  .title {
    margin-left: 30px;
  }

  .title:not(:nth-child(3)) {
    margin-top: 30px;
  }

  .container-video {
    height: 100vh;
    width: 100%;
    clip-path: none;
    position: absolute;
    top: 0;

    z-index: -1;
  }
  .container-video video {
    object-position: 50% 35%;
  }
}

/* KEYFRAMES */
@keyframes text {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(102%);
  }
  100% {
    transform: translateX(202%);
  }
}

@keyframes text-color {
  100% {
    color: #fff;
  }
}
/* ---------------------------------------------START SECTION PRESENTATION------------------------------------------------ */
.presentation-section {
  font-weight: 100;
  background-color: #f1f1f1;
  margin-top: -50px;
  padding: 90px;
}

.presentation-container {
  max-width: 1200px;
  display: flex;
  gap: 30px;
  margin: auto;
}

.main-title {
  text-transform: uppercase;
  font-family: var(--font-fam-oswald);
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.main-title.active-title-anim {
  opacity: 1;
  transform: translateY(0);
}

.text-presentation {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.text-presentation.active-text-anim {
  transform: translateY(0);
  opacity: 1;
}

.presentation-img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  height: 90%;
  width: 500px;
  object-fit: cover;
  object-position: top;
  transform: translateX(90px);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.3s ease-in-out;
}

.presentation-img.active-img {
  transform: translateX(0);
  opacity: 1;
}

/* MEDIA */
@media screen and (max-width: 982px) {
  .main-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 904px) {
  .presentation-container {
    flex-direction: column;
  }

  .photo-presention {
    width: 50%;
    margin: auto;
  }

  .presentation-img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .presentation-section {
    padding: 40px;
  }
}
/* -----------------------------------------------END SECTION PRESENTATION------------------------------------------------ */

/* -----------------------------------------------START COACH SECTION----------------------------------------------------- */
.coach-info {
  padding: 90px;
  display: flex;
}

.grid-container-coach-info {
  max-width: 1000px;
  margin: auto;
}

.card-coach {
  display: flex;
  gap: 30px;
}

.card-coach:nth-child(2) {
  margin-top: 60px;
}
.info-coach {
  width: 50%;
}

.title-coach-info {
  text-transform: uppercase;
  font-family: var(--font-fam-oswald);
  transform: translateY(80px);
  transition: transform 0.3s ease-in-out;
}

.title-coach-info.active-title-coach {
  transform: translate(0);
}

.subtitle-coach {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  font-weight: 100;
  transform: translateY(80px);
  transition: transform 0.3s ease-in-out;
}
.subtitle-coach.active-subtitle-coach {
  transform: translate(0);
}

.subtitle-coach::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 8px;
  width: 20%;
  left: 0;
  background-color: #8b0000;
}

.text-info-coach {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 25px;
  transform: translateY(80px);
  transition: transform 0.3s ease-in-out;
}

.text-info-coach.active-text-coach {
  transform: translateY(0px);
}

.coach-container-img {
  width: 40%;
  height: 550px;
  transform: translateY(80px);
  transition: transform 0.3s ease-in-out;
}

.coach-container-img.active-img-coach {
  transform: translateY(0px);
}

.coach-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* MEDIA */
@media screen and (max-width: 768px) {
  .coach-info {
    padding: 40px;
  }

  .card-coach {
    flex-direction: column;
  }

  .info-coach {
    width: 100%;
  }

  .info-coach:nth-child(2) {
    order: -1;
  }

  .coach-container-img {
    width: 100%;
    height: 400px;
    margin: auto;
  }

  .coach-container-img img {
    object-position: 50% 20%;
  }
}

@media screen and (max-width: 350px) {
  .grid-container-coach-info {
    width: 100%;
  }
}
/* -------------------------------------------------END COACH SECTION----------------------------------------------------- */

/* ---------------------------------------- START OUR CHAMPION SECTION---------------------------------------------------- */
.our-champion-section {
  background-color: #f1f1f1;
  position: relative;
  padding: 60px;
  height: max-content;
}

.our-champions-title {
  display: block;
  font-family: var(--font-fam-oswald);
  margin: 0 auto 20px;
  width: max-content;
  position: relative;
  font-size: clamp(30px, 5vw, 60px);
}

.our-champions-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 8px;
  transform: scale(0.7);
  width: 100%;
  left: 0;
  background-color: #8b0000;
}

.glove-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transform-origin: center;
  width: 100px;
  animation: glove-anim 0.4s linear forwards;
}

.active-anim-gloves {
  transform: rotate(360deg);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  max-width: 1500px;
  margin: 30px auto;
  justify-content: center;
  grid-gap: 50px;
  perspective: 1200px;
}

.card-info-champion {
  max-width: 1000px;
  height: 400px;
  display: flex;
  gap: 10px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  box-shadow: 5px 6px 9px rgba(0, 0, 0, 0.6);
  border-radius: 10px;

  transition: transform 0.6s ease-in-out;
}

.card-info-champion.active-card-champion {
  transform: rotateY(-180deg);
}

.card-info-champion:hover .filter-champion {
  top: 0;
}

.img-champion {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  filter: grayscale(1);
  transition: filter 0.3s linear, transform 0.3s linear;
}

.img-champion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.img-champion:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.description-champion {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8b0000;
  height: 100%;
  color: #fff;
  padding: 20px;
  z-index: -1;
  transform: rotateY(-180deg);
  border-radius: 10px;
}

.champion-name {
  color: #fff;
  font-size: 32px;
}

.description {
  line-height: 1.8;
  margin-top: 10px;
}
/* MEDIA */
@media (hover: none) {
  .img-champion:hover {
    transform: none;
  }
}

@media screen and (max-width: 500px) {
  .description {
    font-size: 13px;
  }
}

/* KEYFRAMES */
@keyframes glove-anim {
  100% {
    opacity: 1;
    width: 250px;
  }
}

/* ---------------------------------------- END OUR CHAMPION SECTION------------------------------------------------------ */

/* ------------------------------------------START JOIN CLUB SECTION------------------------------------------------------ */
.info-club {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  color: #fff;
  padding: 30px;
}

.info-club h2 {
  font-size: clamp(30px, 5vw, 60px);
  font-family: var(--font-fam-oswald);
}

.grid-info-price {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.card-info-price {
  max-width: 320px;
  height: 300px;
  border: 2px solid #ffffff16;
  border-top: 4px solid #8b0000;
  padding: 30px;
  font-size: 25px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(30px);
}

.card-info-price.anim-card-price:nth-child(1) {
  animation: card-price 0.4s ease-in-out forwards;
}

.card-info-price.anim-card-price:nth-child(1) {
  animation: card-price 0.4s 0.2s ease-in-out forwards;
}

.card-info-price.anim-card-price:nth-child(2) {
  animation: card-price 0.4s 0.4s ease-in-out forwards;
}

.card-info-price.anim-card-price:nth-child(3) {
  animation: card-price 0.4s 0.6s ease-in-out forwards;
}
.card-info-price.anim-card-price:nth-child(4) {
  animation: card-price 0.4s 0.8s ease-in-out forwards;
}

.card-info-price .price {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -50px;
  background-color: #8b0000;
  width: 100%;
  text-align: center;
  padding: 20px;
  transition: bottom 0.3s linear;
}

.card-info-price:hover .price {
  bottom: 0;
}

.more-club-btn {
  display: block;
  margin-top: 30px;
  font-size: 18px;
  background-color: #8b0000;
  color: #fff;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  min-width: 200px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.more-club-btn:hover {
  color: #8b0000;
}

.more-club-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 0.3s linear;
}

.more-club-btn:hover::after {
  transform: translateX(0);
}

/* MEDIA */

@media (pointer: coarse) {
  .card-info-price .price {
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .info-club h3 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .title-training-room {
    font-size: 25px;
  }
}

/* KEYFRAMES */
@keyframes card-price {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* -----------------------------------------------END JOIN CLUB SECTION------------------------------------------------------ */

/* -----------------------------------------------START PARTNER CONTAINER---------------------------------------------------- */
.partner-section {
  padding: 60px;
}

.partner-title {
  font-family: var(--font-fam-oswald);
  text-align: center;
}

.partner-container {
  display: flex;
  margin-top: 20px;
  overflow: hidden;
}

.partner-track {
  display: flex;
  align-items: center;
  gap: 40px;
  animation: marquee 50s linear infinite;
}

.partner-container .partner {
  width: 200px;
  filter: grayscale(1);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.partner-container .partner:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.partner-container a img {
  width: 100%;
}

/* MEDIA */

@media (hover: none) {
  .partner-container .partner:hover {
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .partner-container {
    display: grid;
    justify-content: center;
    overflow: visible;
  }

  .partner-container .partner {
    filter: grayscale(0);
  }

  .partner-track {
    display: grid;
    grid-template-columns: auto auto;
    animation-play-state: paused;
  }

  .track-2 {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .partner-track {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 469px) {
  .partner-title {
    font-size: 40px;
  }
}

/* KEYFRAMES */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ------------------------------------------- END PARTNER CONTAINER------------------------------------------------------ */
