nav {
  background-color: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 199999;
  width: 100%;

  border-bottom: 2px solid #fff;
}

nav .right {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #e6e59f;
}

nav img {
  width: 300px;
}

.hamburger-icone {
  display: none;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 958px) {
  .right {
    display: none;
    left: -50%;
    width: 50%;
    height: 100vh;
    top: 0;
    position: absolute;
    background-color: #111;
    flex-direction: column;
    padding: 30px;
    z-index: 10;
    gap: 30px;
    border-right: 2px solid #fff;
    transition: left 0.3s ease-in-out;
  }

  .right.active-menu {
    left: 0;
  }

  .right a {
    font-size: 30px;
  }

  .hamburger-icone {
    display: block;
  }
}

@media screen and (max-width: 584px) {
  nav img {
    width: 200px;
  }
}
@media screen and (max-width: 553px) {
  .right a {
    font-size: 20px;
  }
}

@media screen and (max-width: 396px) {
  .right a {
    font-size: 16px;
  }
}
